html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
  color: #292929;
}
section {
  padding: 10rem 0;
}
input:focus,
button:focus,
a:focus,
textarea {
  outline: none;
}
.button {
  padding: 1.6rem 2rem;
  background-color: #ffaf00;
  border: none;
  border-radius: 5px;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.21rem;
  text-transform: uppercase;
  color: #ffffff;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbc027), to(#ffaf00));
  background: linear-gradient(to bottom, #fbc027, #ffaf00);
}
.section-header {
  font-family: 'ProximaNova_B', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 10rem;
  text-align: center;
}
.section-header_light {
  margin-bottom: 4.5rem;
  color: #ffffff;
}
.main {
  padding: 1.5rem 0 1rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  padding: 9rem 0 8rem;
}
.main .header {
  min-height: 7rem;
}
.main .header .tel-align {
  text-align: right;
}
.main .header .tel-align .tel {
  font-family: 'ProximaNova_B', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #292929;
  line-height: 7rem;
  height: 7rem;
}
.main .header .tel-align .tel:hover,
.main .header .tel-align .tel:focus {
  text-decoration: none;
}
.main .header .table {
  display: table;
  width: 100%;
  height: 7rem;
  margin: 0;
}
.main .header .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.main-title h1 {
  font-size: 4rem;
  line-height: 1.45;
  font-family: 'ProximaNova_B', sans-serif;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
}
.main-title .subtitle {
  font-size: 2.4rem;
  line-height: 1.16;
  margin-bottom: 6rem;
}
.main-title span {
  display: inline-block;
  padding: 1.8rem 4rem ;
  margin-bottom: 3.7rem;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
  background: #00c939;
}
.main-title span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_B', sans-serif;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_B', sans-serif;
}
.main-form {
  padding: 4.3rem 5rem;
  text-align: center;
  background-color: #ffffff;
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
}
.main-form-input {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.1rem;
  margin-bottom: 2.5rem;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
}
.main-form-button {
  width: 100%;
  padding: 1.9rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.main-form small {
  font-size: 1.2rem;
  color: #565656;
}
.main-form label {
  position: absolute;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.3rem 1rem;
  margin-bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  color: #565656;
}
.features {
  text-align: center;
  background-color: #ffffff;
}
.features-img {
  height: 6.7rem;
  margin-bottom: 6.4rem;
}
.features-img img {
  margin: 0 auto;
}
.features h3 {
  font-family: 'ProximaNova_B', sans-serif;
  font-size: 1.9rem;
  margin-bottom: 3.6rem;
}
.features p {
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 260px;
  margin: 0 auto;
}
.features .slick-active {
  outline: none;
}
.features .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 3rem;
  border: none;
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.features .left {
  background-image: url(../img/left-arrow.svg);
  left: 1rem;
}
.features .right {
  background-image: url(../img/right-arrow.svg);
  right: 1rem;
}
.prices {
  background: #00c939 url(../img/prices/prices_bg.png) center;
}
.prices-header {
  text-align: center;
  margin-bottom: 8rem;
}
.prices-header p {
  font-size: 1.8rem;
  color: #ffffff;
}
.prices-header .button {
  margin-top: 3.3rem;
}
.prices-button {
  text-align: right;
}
.prices .price-block {
  text-align: center;
  padding: 5rem 4rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.prices .price-block_header {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-family: 'ProximaNova_B', sans-serif;
}
.prices .price-block_img {
  margin-bottom: 2.5rem;
}
.prices .price-block_img img {
  display: inline-block;
  width: 100%;
  min-height: 100%;
}
.prices .price-block_tag {
  display: inline-block;
  font-size: 1.9rem;
  margin-bottom: 3.3rem;
  font-family: 'ProximaNova_B', sans-serif;
}
.prices .price-block_tag strong {
  font-size: 3rem;
}
.prices .price-block_list {
  font-size: 1.7rem;
  line-height: 2.5rem;
  padding: 0;
  list-style: none;
  min-height: 13rem;
}
.prices .price-block_list li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
}
.prices .price-block_button {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}
.feedback {
  background-image: url(../img/feedback/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.feedback-slider {
  background-color: #ffffff;
  padding: 6rem;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11), -1px -4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11), -1px -4px 10px 0px rgba(0, 0, 0, 0.1);
}
.feedback-info p {
  font-size: 1.6rem;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_close {
  position: absolute;
  top: -2rem;
  right: -2.5rem;
  width: 2rem;
  font-size: 4rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.popup_dialog {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 3rem 5rem 5rem;
  text-align: center;
}
.popup_form {
  padding: 0;
}
.popup_form .main-form-input {
  max-width: 260px;
}
.popup_form .main-form-button {
  max-width: 260px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.popup_form textarea {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #dedede;
}
.popup h4 {
  font-size: 1.8rem;
  font-family: 'ProximaNova_B', sans-serif;
}
.popup p {
  font-size: 1.8rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  line-height: 2rem;
  padding-bottom: 3rem;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
  }
  .main-content {
    padding-top: 5rem;
  }
  .main-content h1 {
    margin-bottom: 2rem;
  }
  .main-content .subtitle {
    margin-bottom: 2rem;
  }
  .main-content span {
    margin-bottom: 1.5rem;
  }
  .main-content strong {
    margin-bottom: 4rem;
  }
  .main .header .tel-align {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .main .header .table-cell {
    text-align: center;
  }
  .prices-button {
    text-align: center;
  }
  .popup_dialog {
    padding: 2rem;
  }
  .popup_dialog .main-form-button {
    max-width: 100%;
  }
}
@media (max-width: 543px) {
  .main-content .main-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
  }
  .main-title h1 {
    font-size: 3rem;
    line-height: 3.6rem;
  }
  .main-form {
    padding: 1rem 0;
  }
  .main-form-header {
    font-size: 1.55rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .features h2 {
    padding: 0 2rem;
    margin-bottom: 8rem;
  }
  .popup_dialog {
    width: 70%;
  }
  .popup_dialog .main-form-input {
    max-width: 100%;
  }
}
@media (max-width: 457px) {
  .main-content {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .main-title h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  .main-title .subtitle {
    font-size: 1.8rem;
  }
  .popup_dialog {
    padding: 2rem;
    max-width: 90%;
  }
}
@media (max-width: 361px) {
  .main-title h1 {
    font-size: 2.2rem;
  }
  .popup_form textarea {
    height: 10rem;
  }
  .popup_dialog {
    top: 5%;
  }
}
